<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/search.css"/>
    <link rel="stylesheet" href="/css/backTopBtn.css"/>
    <link rel="icon" href="/favicon.svg"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        window.API_URL = "<%= apiUrl %>"
    </script>
</head>