<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<div class="form-group" style="display: flex; flex-direction: column; align-items: center;">
    <input type="text" name="school_name" id="school_input" placeholder="检索" onkeydown="if(event.key==='Enter') queryUpd('search',this.value)" required>
    <div id="results_list"></div>
    <button onclick="queryUpd('search',document.getElementById('school_input').value)">检索</button>
</div>


<div id="data-container" style="display: flex; flex-direction: column;align-items: center;"></div>

<script>
    

    const urlParams = new URLSearchParams(window.location.search);
    const inputType = urlParams.get('inputType')
    const inputSearch = urlParams.get('search')
    
    async function loadData() {
        try {
            // 2. 獲取數據
            const response = await axios.get(window.API_URL);
            
            const rawData = response.data.data;

            const container = document.getElementById('data-container');

            // 3. 循環處理
            rawData.forEach(item => {
                if(item.inputType != inputType && inputType) {
                    if(inputType == "批量数据" && item.inputType) return;
                    else if(inputType !="批量数据") return;
                }

                const card = document.createElement('details');
                card.className = 'div';
                card.id = `${item.name}`;
                card.style.width = '100%'

                let scandalHtml = item.scandal ? `<div><strong>学校丑闻：</strong> ${item.scandal}</div>` : '';
                let experienceHtml = item.experience ? `<div><strong>受害者经历：</strong> ${item.experience}</div>` : '';
                let elseHtml = item.else ? `<div><strong>其他：</strong> ${item.else}</div>` : '';
                let inputHtml = item.inputType ? item.inputType : '批量数据'

                card.innerHTML = `
                    <summary><h2>${item.name}</h2><br><small style="margin-left: auto;"><a href="?inputType=${inputHtml}">${inputHtml}</a></small></summary>
                    <div class="div">
                        <p><strong>負責人：</strong>${item.HMaster}</p>
                        <p><strong>省份：</strong>${item.province}</p>
                        <p><strong>鄉、鎮：</strong>${item.prov}</p>
                        <p><strong>地址：</strong>${item.addr}</p>
                        <hr>
                        ${experienceHtml}
                        ${scandalHtml}
                        ${elseHtml}
                        <div class="contact"><strong>聯繫方式：</strong>\n${item.contact}</div>
                    </div>
                `;

                container.appendChild(card);
            });
        } catch (error) {
            console.error('獲取數據失敗:', error);
            document.getElementById('data-container').innerHTML = '<p>數據加載失敗</p>';
        }
    }

    // 執行函數
    loadData();
</script>