<div style="display: flex;    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;">
    <div class="div"><strong>數據最後一次更新：</strong><br><span id="lastSynced">LOADING...</span><br><small>每5分鐘(300秒)更新一次，如未看到您的提交，請耐心等待</small></div>
    <div class="div"><strong>已提交表單：</strong> <span id="total-count">LOADING...</span></div>
    <div class="div"><strong>各省已知機構數量：</strong><br><span id="province-dist">LOADING...</span></div>
    <div class="div"><strong>受害者平均年齡：</strong><br><span id="avgAge">LOADING...</span></div>
</div>