<div style="display: flex;     flex-direction: row;
    justify-content: center;">
    <div class="div">
        <h3>填寫類型</h3>
        <button onclick="queryUpd('inputType','')">全部</button>
        <button onclick="queryUpd('inputType','受害者本人')">受害者本人</button>
        <button onclick="queryUpd('inputType','受害者的代理人')">受害者的代理人</button>
        <button onclick="queryUpd('inputType','批量数据')">批量数据</button>
    </div>
</div>