<%- include('partials/head') %>
<html>
<body>
    <h1>關於我們</h1>
    <p><%- include('partials/about_text') %></p>
    <p><%- include('partials/about_frend') %></p>
    <p><a href="/">返回首页</a></p>

    <%- include('partials/foot') %>
</body>
</html>