<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- title %></title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="icon" href="/favicon.svg"/>
    </head>
    <body>

        <div class="hero">
            <h1>NO CONVERSION THERAPY</h1>
            <p>
                每一份真實的聲音，都是終結扭轉與傷害的力量。
            </p>
            <a href="/form" class="btn">參與填表</a>
            <a href="/map" class="btn">查看扭转机构地图</a>
            <a href="/blog" class="btn">文库</a>
            
        </div>

        <div class="footer">
            <p>© 2026 NO CONVERSION THERAPY Project. By:<a href="mailto:notorsion@hosinoneko.me">HosinoNeko</a></p>
            <a href="/aboutus">關於我們</a>
        </div>
        <%- include('partials/foot') %>
    </body>
</html>