<!DOCTYPE html>
<html>
<head>
    <title>机构综合地图</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
        #map { height: 80vh; width: 100%; border-radius: 8px; }
        .custom-popup b { color: #e63946; }
    </style>
</head>
<body>
    <h1>机构综合地图</h1>
    <div id="map"></div>
    <p><a href="/">返回首页</a></p>
    <details close>
        <summary style="color: blue;">想要调用API？</summary>
        我们明确表示：我们永远不会泄露受访者的任何敏感性资料。<br>
        在调用api之前，我们要明白：HosinoNeko站长只允许自己正在使用的资料，这些资料全部会在map上显示。<br>
        <hr>
        我们如何实现的？<br>
        首先你的表单会透过vercel上传到google forms，在那里会生成一个excel表格，站长在其表格的AppScript部署了应用程式，会将地址一栏转化为经纬度并保存在表格中。然后会生成一个JSON在google为其创建的api中，值得注意的是这个api因为包含着所有资讯，所以我会对其保密。本站会将其中需要的讯息传送到本站，并再次生成一个api。而这个api是允许你们存取的。<br>
        <hr>
        我们的看法：<br>
        我们可太希望你们可以使用我的api并接入到你们的网站上了！因为如果中国国安局封禁了我的网站，你们还可以透过api继续在国内网路中传播。换言之这是一种去中心化。<br>
        知道了这些，你就可以使用我们的api了！快去放在你们的网站上吧！<br>
        <a href="https://no-torsion.vercel.app/api/map-data"></a>
    </details>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        const map = L.map('map').setView([36.06, 120.38], 6); // 預設視角

        // 選用簡潔的底圖風格
        L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png').addTo(map);

        fetch('/api/map-data')
            .then(res => res.json())
            .then(data => {
                data.forEach(item => {
                    const marker = L.marker([item.lat, item.lng]).addTo(map);

                    // 1. 鼠標指到圖標：顯示標題 (Tooltip)
                    marker.bindTooltip(`<strong>${item.name}</strong>`, { 
                        sticky: true, 
                        direction: 'top' 
                    });

                    // 2. 點擊：顯示所有詳細資訊 (Popup)
                    const popupContent = `
                        <div class="custom-popup">
                            <b>${item.name}</b><br>
                            <small>${item.prov}</small>
                            <p>${item.HMaster}</p><hr>
                            <p>${item.experience}</p>
                            <p>${item.scandal}</p>
                            <p>${item.else}</p>
                            <address>${item.addr}</address>
                        </div>
                    `;
                    marker.bindPopup(popupContent);
                });
            });
    </script>
</body>
</html>