<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NO TORSION</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>

        <div class="hero">
            <h1>提交成功！感謝您的參與。</h1>
            <p>
                我們已經收到了您的表單，感謝您的參與。您的參與將是我們前進的動力！
            </p>
            <a href="/" class="btn">返回首頁</a>
            <a href="https://github.com/HosinoEJ/No-Torsion" class="btn">抵制扭轉機構簽名會</a>
        </div>

        <div class="footer">
            © 2026 NO CONVERSION THERAPY Project. By:<a href="https://github.com/HosinoEJ">HosinoNeko</a>
        </div>
        <%- include('partials/foot') %>
    </body>
</html>